.headmargin{
  height: 1em;
  display: block;
  position: relative;
}

  .plus{
    color: #e96443;
    border: solid 1px #e96443; 
    border-radius: 5px;
    display: inline-block; 
    /* line-height: 1em;  */
    text-align:left;
    padding: 0.3em 0.8em;
    transition: width 0.5s, height 0.5s;
    margin: 0.5em 0.5em 0.5em 0;
    /* box-shadow: 1px 2px #e96443;  */
  }
  
  .objective{
    /* outline: 1px solid white; */
    margin-top: 1em;
    width: 100%;
    color: #5a5a5a;
    background: white;
    border: solid 1px #e96443; 
  }
  
  .plus:hover .tag{
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
  }
  .plus .tag{
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
  }
  .enumerates{
    color: #5a5a5a;
    overflow: hidden;
  }
  .enumerates::-webkit-scrollbar{
    background: rgba(0,0,0,0);
  }
  .enumerates::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0);
  }
  
  .plus .enumerates{
    display: block;
    width: 0px;
    height: 0px;
    transition: width 0.5s, height 0.5s;
  }
  .plus:hover .enumerates{
    display: block;
    width:  280px;
    /* max-width: 100%; */
    height: 130px;
    overflow-y:auto;
    transition: width 0.5s, height 0.5s;
  }
  
  h1{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top:1.5em;
    width: 100%;
    font-weight: bold;
  }
  
  .h1-left{
    /* color: #e96443; */
    color: black
  }
  .h1-right{
    /* color: #e96443; */
    color: black
  }
  h2{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top:1.5em;
  }
  .h2-small{
    font-size: 1.2em;
  }
  .h2-large{
    color: #e96443;
  }
  /* .h2-inline{
    display: inline-block;
  } */
  .font-dark{
    color:#5a5a5a;
  }
  
  .em{
    display: block;
    width: 100%;
    font-weight: bold;
    font-style: italic;
  }
  
  .tag{
    /* border-bottom: solid 1px #a0a0a0; */
    /* color: #e96443; */
    padding-right: 0.3em;
    /* background: white; */
    opacity: 1;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0;
    /* background: #ffffff; */
  }
  
  
  .exp{
    width: 100%;
  }
  
  .bullet::before{
    content: '- ';
  }
  .bullet{
    display: block;
  }
  
  .footer{
      display: block;
      width: 100%;
      margin-bottom: 0.2em;
      color:white;
    }
  a, a:focus, a:visited,a:active{
    color:#e96443;
    /* border-bottom: 2px dotted #e96443; */
    text-decoration: none;
    transition: text-decoration 0.5s
  }
  a:hover{
    text-decoration: none;
    color: #e96443;
  }
  
  .inner-wrapper{
    width: calc(100% - 80px);
    max-width: 800px;
    margin: auto;
  }
  
  .project-picture-img{
    width: 100%;
    height: 100px;
    z-index: 0;
    object-fit: cover;
  }

  .about-intro{
    /* font-size: 1.5em; */
  }

  .underline{
    /* font-size: 1.5em; */
    /* width: 175px; */
    display: inline-block;
    border-bottom: 2px dotted #e96443;
  }
  .underline:hover{
    /* font-size: 1.5em; */
    /* width: 175px; */
    display: inline-block;
    border-bottom: 2px solid #e96443;
  }

  .about-q:hover{
    color: #e96443
  }

  .about-q:hover:before{
    content:"+ "
  }

  .about-q:hover .about-info{
    opacity: 0;
  }

  .shadowed{
    box-shadow: 0 0px 1px rgba(78, 78, 78, 0.12), 0 1px 2px rgba(78, 78, 78, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .shadowed:hover{
    box-shadow: 0 5px 20px rgba(138, 138, 138, 0.25), 0 3px 3px rgba(0,0,0,0.22);
  }
