.headmargin{
  height: 1em;
  display: block;
  position: relative;
}
.resume{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    opacity: 0;
    transition: opacity 0.5s;
    height: 100%;
  }
  
  .resume-col:first-of-type{
    min-width: 18em;
    width: 50em;
    /* background: rgba(0,0,0,0); */
    background: #eeeeee;
  }
  .resume-col:first-of-type::-webkit-scrollbar{
    width: 0.5em;
    background: #eeeeee;
  }
  .resume-col:first-of-type::-webkit-scrollbar-thumb{
    background-color:rgba(255,255,255,0.2);
  }
  
  .resume-col::-webkit-scrollbar{
    width: 0.5em;
    background-color: white;
  }
  .resume-col::-webkit-scrollbar-thumb{
    background-color: #eeeeee;
  }
  
  .edu{
    width: 100%;
  }
  .skill{
    width: 100%;
  }
  
  .skill-item{
    display: inline-block;
  }
  .plus{
    color: #e96443;
    border: solid 1px #e96443; 
    border-radius: 5px;
    display: inline-block; 
    /* line-height: 1em;  */
    text-align:left;
    padding: 0.3em 0.8em;
    transition: width 0.5s, height 0.5s;
    margin: 0.5em 0.5em 0.5em 0;
    /* box-shadow: 1px 2px #e96443;  */
  }
  
  .objective{
    /* outline: 1px solid white; */
    margin-top: 1em;
    width: 100%;
    color: #5a5a5a;
    background: white;
    border: solid 1px #e96443; 
  }
  
  .plus:hover .tag{
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
  }
  .plus .tag{
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
  }
  .enumerates{
    color: #5a5a5a;
    overflow: hidden;
  }
  .enumerates::-webkit-scrollbar{
    background: rgba(0,0,0,0);
  }
  .enumerates::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0);
  }
  
  .plus .enumerates{
    display: block;
    width: 0px;
    height: 0px;
    transition: width 0.5s, height 0.5s;
  }
  .plus:hover .enumerates{
    display: block;
    width:  280px;
    /* max-width: 100%; */
    height: 130px;
    overflow-y:auto;
    transition: width 0.5s, height 0.5s;
  }
  .resume-col{
    height: 100%;
    overflow: auto;
    transition: height 0.5s;
    background: white;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: space-between;
    padding: 0 2em;
    /* flex-flow:  */
  
    /* background: #e7f6fa; */
  }
  
  h1{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top:1.5em;
    width: 100%;
    font-weight: bold;
  }
  
  .h1-left{
    /* color: #e96443; */
    color: black
  }
  .h1-right{
    /* color: #e96443; */
    color: black
  }
  h2{
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top:1.5em;
  }
  .h2-small{
    font-size: 1.2em;
  }
  .h2-large{
    
    color: #e96443;
  }
  /* .h2-inline{
    display: inline-block;
  } */
  .font-dark{
    color:#5a5a5a;
  }
  
  .em{
    display: block;
    width: 100%;
    font-weight: bold;
    font-style: italic;
  }
  
  .tag{
    /* border-bottom: solid 1px #a0a0a0; */
    /* color: #e96443; */
    padding: 0 0.3em;
    /* background: white; */
    opacity: 1;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0;
    /* background: #ffffff; */
  }
  .tag-dark{
    /* border: solid 1px #904e95; */
    color:#904e95;
    padding: 0 0.2em;
  }
  .tag-dark:before{
    content:"#";
  }
  
  
  .exp{
    width: 100%;
  }
  
  .bullet::before{
    content: '- ';
  }
  .bullet{
    display: block;
  }
  
  @media (max-aspect-ratio: 1/1){
    .resume-col:first-of-type{
      width: 100%;
    }
    .resume-col{
      width: 100%;
    }
    .resume{
      flex-flow: row wrap;
    }
    
  }
  @media (min-aspect-ratio: 1/1){
  
  }
  
  .footer{
      display: block;
      width: 100%;
      margin-bottom: 0.2em;
      color:white;
    }
  a, a:focus, a:visited,a:active{
    color:black;
    /* border-bottom: 2px dotted #e96443; */
    text-decoration: none;
    transition: text-decoration 0.5s
  }
  a:hover{
    text-decoration: none;
    color: #e96443;
  }

  .project{
    position: relative;
    display: inline-block;
    
  }
  .project-links{
    opacity:0;
  }
  .project:hover .project-links{
    opacity: 1;
  }
  .project-links > a{
    color: #e96443;
    display: inline-block;
    border:solid 1px #e96443;
    border-radius: 10px;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.3em 0.8em;
  }

  .projects{
    width: 100vw;
    display:flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    /* height:100vh; */
  }
  .projects-other{
    width: 100%;
    background: #904e95;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .projects-other-inner{
    padding-top: 2em;
    column-gap: 2em;
  }
  .project-other{
    border: solid 0.5em white;
    border-radius: 5px;
    margin-top: 1em;
    width: 100%;
    min-height: 150px;
    background:white;
    /* margin: 0 auto; */
    position: relative;
    display: inline-block;
    padding-bottom: 2em;
  }
  .project-other:hover .project-other-brief{
    height: auto;
    opacity: 1;
    display: block;
    transition: height 0.5s, opacity 0.5s;

  }
  .project-other-brief{
    height: 0;
    opacity: 0;
    display: none;
    transition: height 0.5s, opacity 0.5s;
  }
  
  .project-other-links{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .project-picture-img{
    
    z-index: 0;
  }
  
  .project-card-title{
    color:#904e95;
  }

  @media (max-width: 950px){
    
    .project{
      display: inline-block;
      width: calc(100vw - 5em);
      /* height: 300px; */
      margin-bottom: 2em;

      border:solid 1px #904e95;
      border-radius: 5px;

      background: white;
    }
    .project-card{
      display: block;
      /* position: absolute;
      top:0;
      left:0; */

      padding: 0 1.5em;
      transition: background 0.5s;
    }
    .project-card:hover{
      background:#ffffffd8;
      transition: background 0.5s;
    }
    
    .project-picture-img{
      display:block;
      /* position:absolute;
      top: 0;
      left:0; */
      width:100%;
      /* z-index: -1; */
      pointer-events: none;
    }
    .project-card-title{
      margin-top:1em;
    }
    .project-brief{
      margin:1em 0;
      
      /* color:white; */
    }
    .project:hover> .project-picture-img{
      opacity:0.5;
      transition: opacity 0.5s;
    }
    /* .project-picture-wrap{
      position: relative;
      z-index: 0;
    } */
    .projects-other-inner{
      columns: 1;
    }
  }
  @media(min-width: 950px){
    .project-picture-img{
      float:left;
      width: 55%;

      border:solid 1px #904e95;
      border-radius: 5px;
    }
    
    .project{
      /* pointer-events: none; */
      /* margin-bottom: 2em; */
    }
    .project-card{
      width: 50%;
      position: absolute;
      bottom:0;
      right:0;
      /* z-index: 2; */
      text-align: right;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
    }
    .project-brief{
      /* border: solid 1px #e96443; */
      border-radius: 5px;
      /* box-shadow: 4px 4px #e96443; */
      background: rgba(255,255,255,0.7);
      padding: 0.5em;
      margin: 1em 0;
      /* padding: 0.5em; */
      position: relative;
    }
    .project-card-left{
      bottom:0;
      left:0;
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
    }
    /* .project-brief:hover{
      box-shadow: 0px 0px #e96443;
      transition: box-shadow 0.5s;
    } */
    .project-picture{
      display: block;
      float:left;
      width: 40vw;
      height: 22.5vw;
    }
    .project-picture-right{
      float:right;
    }
    .project-card-title{
      width: calc(200% - 40vw);
    }

  }
  @media (max-width: 700px){
    .project{
      margin-bottom: 2em;
      width: calc(100vw - 5em);
    }
    .projects-other-inner{
      columns: 2;
      width: 400px;
    }
  }
  @media (min-width: 700px) {
    .project{
      width: calc(100vw - 20em);
      margin-bottom: 2em;
    }
    .projects-other-inner{
      columns: 3;
      width: 600px;
    }
  }

  
  @media (min-aspect-ratio: 1/1){
    .about{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      opacity: 0;
      transition: opacity 1s;
    }
    .about-left{
      width: 30vw;
      height: 100vh;
      
      display: flex;
      flex-flow: col nowrap;
      justify-content: center;
      align-items: center;
      background: #904e95;
    }
    .about-right{
      width: 70vw;
      height: 100vh;
      /* background: #ffe5de; */
      display: flex;
      flex-flow: col nowrap;
      justify-content: center;
      align-items: center;
      text-align: flex-start;
      background: white;
      z-index:0;
      padding: 0 2em;
  
    }
  }

  @media (max-aspect-ratio: 1/1){
    .about{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      opacity: 0;
      transition: opacity 1s;
    }
    .about-left{
      /* width: 30vw; */
      width: 100vw;
      height: 30vh;
      
      display: flex;
      flex-flow: col nowrap;
      justify-content: center;
      align-items: center;
      background: #904e95;
      
    }
    .about-right{
      width: 100vw;
      height: 70vh;
      overflow: auto;
      /* background: #ffe5de; */
      display: flex;
      flex-flow: col nowrap;
      justify-content: center;
      align-items: flex-start;
      text-align: flex-start;
      background: white;
      z-index:0;
      padding: 0 2em;
  
    }
  }
  

  .about-intro{
    /* font-size: 1.5em; */
  }

  .underline{
    /* font-size: 1.5em; */
    /* width: 175px; */
    display: inline-block;
    border-bottom: 2px dotted #e96443;
  }

  .about-q:hover{
    color: #e96443
  }

  .about-q:hover:before{
    content:"+ "
  }

  .about-q:hover .about-info{
    opacity: 0;
  }

  .shadowed{
    box-shadow: 0 1px 1px rgba(78, 78, 78, 0.12), 0 1px 2px rgba(78, 78, 78, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .shadowed:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
  }
